.paws {
  background-color: $color-white;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 80rem;
  right: 60rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
}
