// COLORS
$color-green-light: #9aecdb;
$color-green: #55e6c1;
$color-green-dark: #58b19f;

$color-purple-light: #d6a2e8;
$color-purple: #82589f;
$color-purple-dark: #3b3b98;

$color-blue-light: #25ccf7;
$color-blue: #1b9cfc;
$color-blue-dark: #5643fa;

$color-pink-light: #fc427b;
$color-pink: #b33771;
$color-pink-dark: #6d214f;

$color-orange-light: #fea47f;
$color-orange: #f97f51;

$color-yellow-light: #f8efba;
$color-yellow: #eab543;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
