.dashboard {
  .section-profiles {
    padding: 2rem;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    width: 95%;
    margin: auto;

    &__box--1 {
      //   background-image: linear-gradient(
      //     to right bottom,
      //     rgba($color-green-light, 0.8),
      //     rgba($color-green-dark, 0.8)
      //   );

      width: 100%;
      padding: 0.5rem;
      border-radius: 5px;
      border: 0.5px solid $color-grey-light-2;
      &:hover,
      &:active {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-green-light, 0.8),
          rgba($color-green-dark, 0.8)
        );
        transform: scale(0.99);
        box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
        z-index: 20;
        border: none;
      }
    }
    &__box--2 {
      //   background-image: linear-gradient(
      //     to right bottom,
      //     rgba($color-blue-light, 0.8),
      //     rgba($color-blue-dark, 0.8)
      //   );

      width: 100%;
      padding: 0.5rem;
      border-radius: 5px;
      border: 0.5px solid $color-grey-light-2;
      &:hover,
      &:active {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-blue-light, 0.8),
          rgba($color-blue-dark, 0.8)
        );
        transform: scale(0.99);
        box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
        z-index: 20;
        border: none;
      }
    }
    &__box--3 {
      //   background-image: linear-gradient(
      //     to right bottom,
      //     rgba($color-purple-light, 0.8),
      //     rgba($color-purple-dark, 0.8)
      //   );

      width: 100%;
      padding: 0.5rem;
      margin-bottom: 2rem;
      border-radius: 5px;
      border: 0.5px solid $color-grey-light-2;
      &:hover,
      &:active {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-purple-light, 0.8),
          rgba($color-purple, 0.8)
        );
        transform: scale(0.99);
        box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
        z-index: 20;
        border: none;
      }
    }
    &__profile {
      display: inline-block;
      width: 20%;
      &--pic {
        display: block;
        width: 15rem;
        height: 15rem;
        padding: 1.5rem;
        border-radius: 13%;
        margin: auto;
      }
      &--name {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.7rem;
        font-weight: bolder;
      }
    }
    &__friend {
      display: inline-block;
      width: 20%;
      align-items: center;
      &--pic {
        display: block;
        width: 15rem;
        height: 15rem;
        padding: 1.5rem;
        border-radius: 50%;
        margin: auto;
      }
      &--name {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.7rem;
        font-weight: bolder;
      }
    }
    &__pet {
      display: inline-block;
      width: 20%;
      &--pic {
        display: block;
        width: 15rem;
        height: 15rem;
        padding: 1.5rem;
        border-radius: 13%;
        margin: auto;
      }
      &--name {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.7rem;
        font-weight: bolder;
      }
    }
  }
}
